/* File       : custom.css */
/* Created    : Wed Aug 18 2021 01:59:17 PM (-0400) */
/* Author     : Fabian Wermelinger */
/* Description: Customizations */
/* Copyright 2021 Fabian Wermelinger. All Rights Reserved. */

.reveal-viewport,
.reveal .slides {
    background-color: white;
}

.adjust-left {
    text-align: left;
}

.handson {
    text-align: left;
    border-color: #657b83;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #d9eafe;
}

.highlight {
    /* color: #ae81ff */
    background-color: rgba(174, 129, 255, 0.16);
    border-color: rgba(174, 129, 255, 1);
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* p .highlight { */
/*     padding: 5px; */
/* } */

/* Own styles (does not work ok with animations) */
/* code { */
/*     border-radius: 5px; */ 
/* } */

/* blockquote { */
/*     border-radius: 5px; */
/* } */
